<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
">

    <bean id="articleFeedProcessor" class="pl.korpacz.spring.camel.feed.ArticleFeedProcessorImpl"/>
    
     
    <!-- here we have the 1st CamelContext -->
    <camelContext  xmlns="http://camel.apache.org/schema/spring" ><!-- autoStartup="true">-->
        <package>pl.korpacz.spring.camel.route</package>
    </camelContext>
     
     
</beans>
